<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bewype_Accountcustomfields>
            <version>1.0.0</version>
        </Bewype_Accountcustomfields>
    </modules>
    <!--admin>
        <fieldsets>
            <customer_dataflow>
                <clientnumber><create>1</create><update>1</update></clientnumber>
            </customer_dataflow>
        </fieldsets>
    </admin-->
    <!--frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <Bewype_Accountcustomfields before="Mage_Customer">Bewype_Accountcustomfields</Bewype_Accountcustomfields>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend-->
    <global>
        <!--fieldsets>
            <customer_account>
                <clientnumber><create>1</create><update>1</update></clientnumber>
            </customer_account>
        </fieldsets-->
        <models>
            <customfields>
                <class>Bewype_Accountcustomfields_Model</class>
            </customfields>
        </models>
        <resources>
            <customfields_setup>
                <setup>
                    <module>Bewype_Accountcustomfields</module>
                    <class>Bewype_Accountcustomfields_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customfields_setup>
            <customfields_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customfields_write>
            <customfields_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customfields_read>
        </resources>
        <!--rewrite>
            <bewype_customfields_account>
                <from><![CDATA[#^/account/#]]></from>
                <to>/customer/account/</to>
            </bewype_customfields_account>
        </rewrite-->
    </global>
</config>
